################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImportPics/bin/Debug
/ImportPics/obj/Debug
/.vs/ImportPics/v15/.suo
/ImportPics/obj/Debug
